<div class="modal fade" id="postPhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content photo_show_modal">
      <div class="modal-body">
        <%= image_tag post.picture %>
        <br />
        <%= post.caption %>
      </div>
    </div>
  </div>
</div>
