<div class="row">
	<% if !user_signed_in? %>
		&nbsp; &nbsp; <span class="vote"> Sign-in to vote</span> &nbsp;
	<% else %>
	  <span id="post_vote_form">
	    <%= form_tag post_votes_path(post), remote: true do %>
	      &nbsp; &nbsp; <%= submit_tag "Vote!" %> &nbsp;
	    <% end %>
	  </span>
	<% end %>
  <span id="post_vote_score"> 
    <h4><%= post.votes.count %> Votes</h4>
  </span>
</div>