<%= simple_form_for @avatar, url: user_avatars_path(@user) do |f| %>  
  <div class="modal-body">
    <%= f.input :picture %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Upload Picture", class: 'btn btn-primary' %>
  </div>
<% end %>