@import "bootstrap";

body {
	background-image: image_url("country-quilt-dark.png");
	padding-top: 65px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  padding: 10px;
}


.clear {
	clear: both;
}

button:focus {
  outline: 0;
}

.navbar .dropdown-menu .form-control {
  width: 200px;
}

h1 {
	color: white;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 25px;
  margin-right: 25px;
}

td {
  color: black;
  background-color: white;
  border: 5px solid blue;
  border-radius: 15px;
  height: 200px;
  width: 200px;
}

.user_info{
  background-color: white;
  color: black;
  border: 5px solid blue;
}

.user_info h1{
  color: black;
}